.c-download-button {
  color: $secondary-gray60;
  font-weight: 700;
  line-height: $button-size;
  text-decoration: none;

  &::after {
    display: inline-block;
    width: $button-size;
    height: $button-size;
    margin-left: $base-whitespace / 2;
    background-image: url("assets/icons/link-active.svg");
    content: "";
    vertical-align: middle;
  }

  &:hover {
    color: $primary-contrast;

    &::after {
      background-image: url("assets/icons/link-hover.svg");
    }
  }
}